{% extends 'base.html' %}
{% load static %}

{% block content %}

 
        <div class="bg-gray-200 text-sm">
            <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 py-3">
                <li class="breadcrumb-item"><a class="fw-light" href="/dashboard">Home</a></li>
                <li class="breadcrumb-item fw-light" aria-current="page"><a class="fw-light" href="{% url 'users' %}">Users pages</a> </li>
                <li class="breadcrumb-item active fw-light" aria-current="page">user Desc</li>
                </ol>
            </nav>
            </div>
        </div>


        <section class="tables">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header border-bottom">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                <h3 class="h4 mb-0">Projects Data Table</h3>
                                </div>
                                {% if user.userprofile.role.can_edit_users or user.userprofile.role.full_access%}
                                    <div class="col-md-6 text-md-end"> 
                                
                                        
                                        <form method="post" action="{% url 'delete_user' user.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                        <br>
                                        <a href= {% url 'users_desc' user.id %} class="btn btn-success">Edit</a>      
                                    </div>
                                {% endif %}
                            </div>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12">
                                    <!-- Project Information -->
                                    <dl class="row">
                                        <dt class="col-sm-4">User Name:</dt>
                                        <dd class="col-sm-8"><strong>{{user.username}}</strong></dd>
<hr>
                                        <dt class="col-sm-4">User employee ID :</dt>
                                        <dd class="col-sm-8">{{ user.userprofile.employeeID }}</dd>
                    <hr>
                                        <dt class="col-sm-4">User Role : </dt>
                                        <dd class="col-sm-8">{{ user.userprofile.role }}</dd>
                    <hr>
                                        <dt class="col-sm-4">User Group :</dt>
                                        <dd class="col-sm-8">{{ user.userprofile.role.group }}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </section>                            


{% endblock %}