{% extends 'base.html' %}
{% load static %}

{% block content %}


      <!-- Breadcrumb-->
      <div class="bg-gray-200 text-sm">
        <div class="container-fluid">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 py-3">
              <li class="breadcrumb-item"><a class="fw-light" href="dashboard">Home</a></li>
              <li class="breadcrumb-item active fw-light" aria-current="page">Project </li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- Page Header-->
      <header class="py-4">
        <div class="container-fluid py-2">
          <h1 class="h3 fw-normal mb-0">These are all the projects</h1>
        </div>
      </header>
    
  <section class="tables">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header border-bottom">
                        <h3 class="h4 mb-0">Projects Data Table</h3>
                        {% if user.userprofile.role.can_edit_projects or user.userprofile.role.full_access %}
                            <a href="{% url 'newProject' %}" class="btn btn-success mt-1">Add New</a>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table text-sm mb-0 table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Project Name</th>
                                        <th>Value</th>
                                        <th>Company</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for project in projects %}
                                    <tr>
                                        <th scope="row">{{ project.id }}</th>
                                        <td><a href="{% url 'projects_desc' project.id %}"><strong>{{ project.project_name }}</strong></a></td>
                                        <td>{{ project.total_so }}</td>
                                        <td>{{ project.company }}</td>
                                        <td>{{ project.email }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="5" class="text-center">No old projects to display.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  
     
{% endblock %}